* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #2f4858;
  --secondary-color: #33658a;
  --third-color: #86bbd8;
  --accent-color: #fff;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-image: linear-gradient(
    130deg,
    var(--secondary-color) 0%,
    var(--third-color) 100%
  );
}

h1 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: clamp(1.65rem, 8vw, 3rem);
  line-height: 55px;
  color: var(--accent-color);
}

h2 {
  margin: 0;
  font-size: clamp(1.4rem, 5vw, 1.9rem);
  font-weight: bold;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: var(--accent-color);
}

a {
  text-decoration: none;
}

p {
  color: var(--gray-color);
}

img {
  width: 100%;
  max-width: 500px;
}

.button {
  // border-radius: 5px;
  color: var(--accent-color);
}

.bold {
  font-weight: 600;
}

.container {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  width: 100%;
  min-height: 50px;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.664);

  .nav__wrapper {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .logo {
    // font-family: "Play", sans-serif;
    // color: white;
    // text-decoration: none;
    // font-size: 1.75rem;
    max-width: 150px;
    height: auto;
  }

  .nav__middle {
    // margin-left: 4rem;
    .nav__links {
      .spot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      /*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
    */

      .svg-wrapper {
        margin-top: 0;
        position: relative;
        width: 150px;
        /*make sure to use same height/width as in the html*/
        height: 40px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px;
      }
      /*
      This is where we define the fill, color, thickness,
      and stroke pattern of the SVG when there is no hover.
      The dasharray and offset together define the line position
      under the words. Here's also where the transition speed is set.
    */

      #shape {
        stroke-width: 3px;
        fill: transparent;
        stroke: white;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
      }
      /* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
    */

      #text {
        margin-top: -35px;
        text-align: center;
      }

      #text a {
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.1em;
      }
      /* 
    Changing the shape on hover. I change the color of the stroke,
    make it thinner, then set it to again wrap around the entire parent element.
    */

      .svg-wrapper:hover #shape {
        stroke-dasharray: 50 0;
        stroke-width: 3px;
        stroke-dashoffset: 0;
        stroke: white;
      }
    }
  }

  .button {
    border: 1px solid white;
    padding: 0.5rem 1rem;
    // margin-left: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: background 0.3s linear;

    &:hover {
      background: white;
      color: var(--main-color);
    }
  }
}

.hero {
  position: relative;
  min-height: 68vh;
  overflow: hidden;
  // background-image: linear-gradient(
  //   160deg,
  //   var(--secondary-color) 0%,
  //   var(--third-color) 100%
  // );
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  .hero__header-container {
    margin-top: 4rem;
    .hero_header {
      color: white;
      font-weight: normal;
      letter-spacing: 3px;
      opacity: 0;
      margin-bottom: 2rem;
      animation: fly 1s forwards;
      text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .hero__button {
      padding: 0.5rem;
      border: 1px solid white;
      transition: background 0.3s linear;

      &:hover {
        color: var(--main-color);
        background: rgb(255, 255, 255);
      }
    }

    .text-2 {
      font-size: 1rem;
    }
  }

  @keyframes fly {
    0% {
      transform: translateX(300px);
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .hero__scales {
    position: absolute;
    bottom: -6px;
    left: 15%;
    max-width: 200px;
    height: auto;
  }

  .quarter-circle-bottom-right {
    --size: 25vw;
    width: calc(2 * var(--size));
    height: calc(2 * var(--size));
    background-color: #86bbd8;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='bevel-circle' fill='%2333658a' fill-opacity='0.1'%3E%3Cpath d='M10.414 29l-8 8h33.172l-8-8H10.414zM9 27.586l-8 8V2.414l8 8v17.172zM10.414 9l-8-8h33.172l-8 8H10.414zM29 10.414l8-8v33.172l-8-8V10.414zM11 11h16v16H11V11zm8 14c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zM0 0h38v38H0V0z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: calc(2 * var(--size));
    -moz-border-radius: calc(2 * var(--size));
    -webkit-border-radius: calc(2 * var(--size));
    position: absolute;
    bottom: calc(-1 * var(--size));
    right: calc(-1 * var(--size));
    animation: rotating 180s linear infinite;
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
}

.search-section {
  background: var(--main-color);
  min-height: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .search-header {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  }

  .input__element {
    width: 50%;
    position: relative;
    height: 50px;
    margin-bottom: 2rem;
    overflow: hidden;
    color: var(--accent-color);

    input {
      width: 80%;
      float: left;
      height: 100%;
      color: var(--accent-color);
      background: var(--main-color);
      padding-top: 20px;
      border: none;
      outline: none;
    }

    textarea {
      width: 300px;
      height: 150px;
    }

    label {
      position: absolute;
      bottom: 0px;
      left: 0%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid var(--accent-color);
    }

    label::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0px;
      bottom: -1px;
      border-bottom: 3px solid var(--third-color);
      transform: translateX(-100%);
      transition: all 0.5s ease;
    }

    .content-name {
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.5s ease;
    }

    //animations

    input:focus + .animate .content-name,
    input:not(:placeholder-shown) + .animate .content-name {
      transform: translateY(-150%);
      font-size: 14px;
      color: var(--third-color);
    }

    input:focus + .animate::after,
    input:not(:placeholder-shown) + .animate::after {
      transform: translatex(0%);
    }

    button {
      float: left;
      width: 20%;
      padding: 10px;
      background: var(--main-color);
      color: white;
      font-size: 17px;
      border: 1px solid var(--accent-color);
      // border-left: none; /* Prevent double borders */
      cursor: pointer;
      transition: background 0.3s linear;
    }

    button:hover {
      background: var(--third-color);
      color: var(--main-color);
    }

    /* Clear floats */
    .input__element::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

.middle__section {
  padding: 10rem 0;
  min-height: 80vh;
  display: flex;

  background-image: url("img/section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;

  // background: white;

  .container {
    background: var(--accent-color);
    padding: 3rem 1rem;
    border-radius: 5px;
    background-blend-mode: multiply;
    margin: 0 auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .section_wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    .section-second-bg {
      position: absolute;
      z-index: 222;
      bottom: 0%;
      right: 0%;
      opacity: 1;
      min-width: 50%;
    }

    .left {
      z-index: 333;
      width: 40%;
      .section_image {
        width: 100%;
        display: block;
        margin: 0 auto;
        max-width: 450px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      }
    }

    .right {
      z-index: 333;
      width: 58%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .section_title {
        color: var(--main-color);
        font-size: 1.5rem;
        // text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
      }

      .section_text {
        margin: 2rem 0;
        font-size: 1.2rem;
        color: var(--main-color);
        // color: var(--secondary-color);
        // text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
      }

      .section__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 1rem;

        .section__card {
          min-height: 66px;
          background: white;
          border-radius: 5px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
          width: 100%;
          // height: 165px;
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          padding: 0.5rem;
          transition: transform 0.3s ease-out;

          &:hover {
            transform: translateY(-30px);
            transform: scale(1.1);
          }

          img {
            max-width: 50px;
            height: auto;
            margin-right: 1rem;
          }

          .section__card-text {
            color: var(--main-color);
            margin: 0;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.counter {
  width: 100%;
  background: var(--main-color);
  min-height: 25vh;
  display: flex;
  background: url(img/counter-background.png);
  background-repeat: no-repeat;
  background-size: cover;

  .counter-wrapper {
    padding: 4rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;

    .counter-col {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .counter-text {
      font-size: 1.5rem;
      text-align: center;
    }

    .counter-value {
      font-size: 10rem;
    }
  }
}

///neww csss contact yooo

.contact {
  // background-color: var(--accent-color);
  background: url(img/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  .contact__intro {
    text-align: center;

    .contact__title {
      font-size: 2.25rem;
      margin: 0 auto;
      color: var(--accent-color);
    }
    .contact__text {
      margin: 0 auto 1rem auto;
      color: var(--accent-color);
      font-size: 1.25rem;
    }
  }

  .contact__wrapper {
    p {
      color: var(--third-color);
    }

    color: var(--third-color);
    width: 100%;
    background: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5625rem;
    border-radius: 5px;

    .left {
      min-height: 550px;
      max-width: 395px;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
      padding: 1.75rem;
      //
      background-image: url("./img/logo-2.svg");
      background-repeat: no-repeat;
      // background-size: 60%; //needs a responsive buddy
      background-position: bottom center;

      .contact__section--title {
        color: var(--secondary-color);
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      .contact__means {
        img {
          width: 25px;
          height: 25px;
        }

        .contact__means--element {
          margin: 1rem 0;
          display: flex;
          align-items: center;

          .contact__mean--text {
            margin-left: 0.5rem;
          }
        }
      }
    }
    //new css
    .right {
      margin-top: 3rem;

      .input__element {
        width: 100%;
        position: relative;
        height: 50px;
        margin-bottom: 2rem;
        overflow: hidden;

        input {
          width: 100%;
          height: 100%;
          color: var(--main-color);
          padding-top: 20px;
          border: none;
          outline: none;
        }

        textarea {
          width: 300px;
          height: 150px;
        }

        label {
          position: absolute;
          bottom: 0px;
          left: 0%;
          width: 100%;
          height: 100%;
          pointer-events: none;
          border-bottom: 1px solid var(--main-color);
        }

        label::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0px;
          bottom: -1px;
          border-bottom: 3px solid var(--secondary-color);
          transform: translateX(-100%);
          transition: all 0.25s ease;
        }

        .content-name {
          position: absolute;
          bottom: 5px;
          left: 0px;
          transition: all 0.25s ease;
        }

        //animations

        input:focus + .animate .content-name,
        input:not(:placeholder-shown) + .animate .content-name {
          transform: translateY(-150%);
          font-size: 14px;
          color: var(--secondary-color);
        }

        input:focus + .animate::after,
        input:not(:placeholder-shown) + .animate::after {
          transform: translatex(0%);
        }
      }

      .contact__checkBoxes {
        margin: 1rem 0 0 0;
        display: flex;
        flex-direction: column;

        p {
          margin: 0 0 0.5rem 0;
        }

        label {
          letter-spacing: 0.1rem;
        }

        .checkBox__element {
          display: flex;
          align-items: center;

          .real-label {
            margin-left: 0.5rem;
          }

          .checkbox {
            --border-hover: #bbc1e1;
            position: relative;
            margin-bottom: 0.3rem;

            input,
            svg {
              width: 21px;
              height: 21px;
              display: block;
            }
            input {
              -webkit-appearance: none;
              -moz-appearance: none;
              position: relative;
              outline: none;
              background: #fff;
              border: none;
              margin: 0;
              padding: 0;
              cursor: pointer;
              border-radius: 5px;
              transition: box-shadow 0.3s;
              box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--main-color));
              &:hover {
                --s: 2px;
                --b: var(--border-hover);
              }
              &:checked {
                --b: var(--secondary-color);
              }
            }
            svg {
              pointer-events: none;
              fill: none;
              stroke-width: 2px;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke: var(--stroke, var(--secondary-color));
              position: absolute;
              top: 0;
              left: 0;
              width: 21px;
              height: 21px;
              transform: scale(var(--scale, 1)) translateZ(0);
            }
            &.path {
              input {
                &:checked {
                  --s: 2px;
                  transition-delay: 0.4s;
                  & + svg {
                    --a: 16.1 86.12;
                    --o: 102.22;
                  }
                }
              }
              svg {
                stroke-dasharray: var(--a, 86.12);
                stroke-dashoffset: var(--o, 86.12);
                transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
              }
            }
          }
        }
      }
    }
  }

  //button starts here

  @keyframes short-press {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.9);
    }

    100% {
      transform: scale(1);
    }
  }

  .hide {
    display: none;
  }

  .submit-button {
    display: block;
    // font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    // text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    height: 50px;
    width: 150px;
    line-height: 50px;
    overflow: hidden;
    background: var(--secondary-color);
    border-radius: 3px;
    box-shadow: 0 15px 30px rgba(black, 0.1);
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(black, 0.1);
    }

    &.animated {
      animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
    }

    > span {
      display: block;
      color: white;
      text-align: center;

      &.pre-state-msg {
        transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
        transition-delay: 0.75s;
      }
    }

    &.state-1 {
      .pre-state-msg {
        margin-top: -50px;
      }
    }

    &.state-2 {
      .pre-state-msg {
        margin-top: -100px;
      }
    }
  }
}

@media (min-width: 700px) {
  .contact {
    padding: 5rem 0;
    // .container {
    //   width: 65%;
    // }

    .contact__wrapper {
      display: flex;
      min-height: 600px;
      justify-content: space-between;

      .left {
        max-width: 800px;
        width: 40%;
        background-size: 50%;
      }

      .right {
        // margin-top: 0 !important;
        width: 50%;
        margin: auto auto;
        form {
          display: flex;
          flex-direction: column;

          .input__row + .input__row {
            margin-top: 2rem;
          }

          .input__row {
            display: flex;
            justify-content: space-between;

            .input__element {
              width: 45%;
            }
          }
          .contact__checkBoxes {
            margin: 2rem 0;
          }

          .contact__form--text {
            margin-bottom: 1.5rem;
            font-size: 1.15rem;
          }
          .checkbox_row {
            // margin: 1.5rem 0;
            display: flex;
            justify-content: space-between;
          }

          button {
            align-self: flex-end;
          }
        }
      }
    }
  }
}

.footer {
  padding: 1rem 0;
  width: 100%;
  background: var(--main-color);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 150px;
      height: auto;
    }

    ul {
      margin: 0.5rem 0;
      display: flex;
    }

    li {
      list-style: none;
      color: var(--third-color);
      a {
        color: var(--third-color);
        text-decoration: none;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    li + li {
      margin-left: 1rem;
    }
  }
}
//css

////ABOUT US PAGE

.about {
  background: url(img/about/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  .about-intro {
    background: url(img/about/about-top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0;
    // background: var(--main-color);
    width: 100%;
    text-align: center;

    .about-header {
      font-size: 2rem;
    }
    .about-header-text {
      color: var(--third-color);
      font-size: 1.5rem;
    }
  }

  // min-height: 75vh;
  .container {
    .about-first {
      display: flex;
      flex-direction: column;
      background: white;
      margin-top: 5rem;
      padding: 0.5rem;
      border-radius: 5px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .about_title {
      font-size: 1.75rem;
      color: var(--main-color);
    }

    .about_title-second {
      font-size: 1.2rem;
    }

    .about-image {
      width: 100%;
      max-width: 400px;
      border-radius: 5px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }

    .about-text {
      margin: 1rem 0;
      color: var(--main-color);
    }

    .about-middle-title {
      text-align: center;
      margin: 5rem 0 1rem 0;
      color: white;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }

    .about-second {
      display: flex;
      flex-direction: column;
      align-items: center;
      .about-card {
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        width: 100%;
        max-width: 300px;
        min-height: 220px;
        background: white;
        border-radius: 5px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

        img {
          width: 50px;
          height: auto;
          margin: 1rem 0;
        }

        .card-title {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
  }

  .about-me-contact {
    background: none;
  }
}

@media (min-width: 700px) {
  .about {
    .container {
      min-height: 75vh;

      .about-first {
        padding: 3rem 0;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

        img {
          max-width: 100%;

          height: auto;
        }
      }

      .left {
        width: 40%;
      }

      .right {
        width: 55%;
      }

      .about-text {
        margin: 1rem 0;
      }

      .about-second {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
